<% if params[:invalid_password] == "true" %>
  <p>Invalid password for username <%= params[:username] %></p>
<% end %>
<h1>Log In</h1>

<h3>Not a user? <%= link_to("Sign up now!", :new_user) %></h3>
<%= form_tag logins_path do %>

  <%= label_tag :username %>
  <%= text_field_tag :username %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>
  
  <%= submit_tag "Log In" %>
<% end %>