<%= form_for @space do |f| %>
  <% if @space.errors.any? %>
    <% @space.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :hourly_rate %>
  <%= f.text_field :hourly_rate %>

  <%= f.label :size %>
  <%= f.text_field :size %>

  <%= f.submit %>
<% end %>