<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :fname %>
  <%= f.text_field :fname %>

  <%= f.label :lname %>
  <%= f.text_field :lname %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :engineer %>
  <%= f.check_box :engineer%>
  
  <%= f.label :hourly_rate %>
  <%= f.text_field :hourly_rate %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit %>
<% end %>