<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :dateTime%>
  <%= f.text_field :dateTime, class: "datepicker" %>
  
  <%= f.label "Duration (hours)" %>
  <%= f.text_field :duration %>
  
  <%= f.label :description %>
  <%= f.text_field :description %>
    
  <%= f.submit %>
<% end %>

