<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <%= f.label "Band" %>
  <%= f.text_field :band_name %>
  <br/>
  <br/>
  <% @spaces.each do |space| %>
    <%= f.radio_button :space_id, space.id, checked:false %><%= space.name %>
  <% end %>
  <br/>
  <br/>
  <%= f.label "Session Engineer"%>
  <% @engineers.each do |engineer| %>
    <%= f.radio_button :engineer_id, engineer.id, checked:false %><%= engineer.name %>
  <% end %>
  <br/>
  <br/>
  <%= f.label "Date" %>
  <%= f.text_field :start, class: "datepicker" %>
  <br/>
  <br/>
  <%= f.submit %>
  
<% end %>