<%= form_for @event, :remote => true do |f| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>
  <%= f.label "Band" %>
  <% if @band %>
    <%= f.text_field :band_name, value: @band.name %>
  <% else %>
    <%= f.text_field :band_name %>
  <% end%>
  <br/>
  <br/>
  <% @spaces.each do |space| %>
    <%= f.radio_button :space_id, space.id, checked: space.id == @event.space_id  %><%= space.name %>
  <% end %>
  <br/>
  <br/>
  <%= f.label "Session Engineer"%>
  <br/>
  <% @engineers.each do |engineer| %>
    <%= f.radio_button :engineer_id, engineer.id, checked: engineer.id == @event.engineer_id %><%= engineer.name %>
  <% end %>
  <br/>
  <br/>
  <%= f.label "Date" %>
  <%= f.text_field :start, class: "datepicker" %>
  <br/>
  <br/>
  <%= f.submit 'Book Session', :class => 'event_submit_button' %>
  
<% end %>