<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |error_msg| %>
      <p><%= error_msg %></p>
    <% end %>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label "Start Date" %>
  <%= f.text_field :start, class: "datepicker" %>
  
  <%= f.label "End Date" %>
  <%= f.text_field :end, class: "datepicker"%>
  
  <!-- <%= f.label "Start Time"%>
  <%= f.text_field :start, class: "timepicker" %>
  
  <%= f.label "End Time" %>
  <%= f.text_field :end, class: "timepicker"%> -->
  
  <%= f.label :description %>
  <%= f.text_field :description %>
    
  <%= f.submit %>
<% end %>

