<!DOCTYPE html>
<html>
<head>
  <title>My Studio Simplified</title>
  <%= stylesheet_link_tag   "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Puritan' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
  window.events = $.parseJSON('<%= raw @events.to_json %>');
  </script>
  
</head>
<body>
  <div class="header">
    <a href = "/" >
      <div class="home_link">
        <h1>
          <span class = "my_studio" >My Studio</span>
          <span class = "simplified" >Simplified  </span>
        </h1>
      </div>
    </a>
    
    <div class="session">
      <p>
        <%= login_status(current_user) %>
      </p>
    </div>
  </div>
  
  <div class="colmask threecol">
    <div class="colmid">
      <div class="colleft">
			  <div class="col1"><%= yield %></div>
  			<div class="col2">
          <% if current_user%>
          <%= link_to "Book Session", new_event_path, :remote => true %>
          <br />
          <br />
          <%= link_to("Contacts", users_path)%>
          <br />
          <br />
          <%= link_to("Manage Gear", gears_path)%>
          <% end %>
  			</div>
        <div class="col3">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer"><br/><div id="footer_text">My Studio Simplified™ by <a href="http://www.matthova.com">Matt Hova</a></div></div>
</body>
</html>
