<!DOCTYPE html>
<html>
<head>
  <title>My Studio Simplified</title>
  <%= stylesheet_link_tag   "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  window.events = $.parseJSON('<%= raw @events.to_json %>');
  </script>
  
</head>
<body>
  
  <% if current_user %>
  Hi, <%= link_to(current_user.email, user_path(current_user.id)) %>!   <%= link_to "Sign out", "/logins/#{current_user.id}", :method => :delete %>
  <% end %>
  <%= yield %>
  <%= link_to("Book Session", new_event_path)%>
  <%= link_to("Home", root_path)%>

</body>
</html>
